In [1]:
# transform csv coming from original excel

In [2]:
import pandas as pd

In [3]:
LP_buque=pd.read_csv("../input/DATOS_BD_LAS_PALMAS_BUQUE.csv")
LP_buque_exe=pd.read_csv("../input/DATOS_BD_LAS_PALMAS_BUQUE_EXENTO.csv")
LP_movimiento=pd.read_csv("../input/DATOS_BD_LAS_PALMAS_MOVIMIENTO.csv")
LP_sentido=pd.read_csv("../input/DATOS_BD_LAS_PALMAS_SENTIDO.csv")

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (0,24,38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
LP_buque_exe.head()

,BuqueExentoId,BuqueId,Capitan,FechaDesde,FechaHasta
0,17,439,Capitán Spabunker,2017-02-01 00:00:00.000,2027-06-02 00:00:00.000
1,18,258,Juan Carlos Pérez Suárez,2017-02-15 00:00:00.000,2019-02-20 00:00:00.000
2,19,263,JUAN CARLOS PEREZ SUAREZ,2017-02-15 00:00:00.000,2019-02-20 00:00:00.000
3,20,258,Marco Antonio Badía Bodornau,2017-02-15 00:00:00.000,2019-02-20 00:00:00.000
4,21,263,Marco Antonio Badía Bodornau,2017-02-15 00:00:00.000,2019-02-20 00:00:00.000

In [5]:
LP_buque_exe.columns

Index(['BuqueExentoId', 'BuqueId', 'Capitan', 'FechaDesde', 'FechaHasta'], dtype='object')

In [6]:
LP_buque_exe= LP_buque_exe.drop(['Capitan','FechaDesde', 'FechaHasta'], axis=1)

In [7]:
LP_buque_exe.columns

Index(['BuqueExentoId', 'BuqueId'], dtype='object')

In [8]:
LP_movimiento.head()

,MovimientoId,ServicioEspecial,FechaPeticion,HoraPeticion,FechaServicio,HoraServicio,VientoDireccionId,VientoVelocidad,SentidoId,BuqueId,...,NumeroFondeo,GastosAdministrativosPorcentaje,GastosAdministrativosFijo,ImporteGastosAdministrativos,TipoCambio,ImporteTasas,ImporteDisponibilidadPractico,ImportePermanenciaPractico,ImporteDisponibilidadPracticoGA,ImportePermanenciaPracticoGA
0,807,0.0,2017-03-15 00:00:00.000,2017-03-15 17:30:00.000,2017-03-14 00:00:00.000,2017-03-14 18:10:00.000,1.0,15.0,1.0,259.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
1,808,0.0,2017-03-14 00:00:00.000,2017-03-14 22:00:00.000,2017-03-14 00:00:00.000,2017-03-14 22:27:00.000,1.0,15.0,1.0,258.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
2,809,0.0,2017-03-15 00:00:00.000,2017-03-15 07:00:00.000,2017-03-14 00:00:00.000,2017-03-14 22:32:00.000,1.0,15.0,1.0,588.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
3,810,0.0,2017-03-14 00:00:00.000,2017-03-14 18:30:00.000,2017-03-14 00:00:00.000,2017-03-14 18:40:00.000,1.0,15.0,1.0,263.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
4,811,0.0,2017-03-14 00:00:00.000,2017-03-14 20:00:00.000,2017-03-14 00:00:00.000,2017-03-14 20:25:00.000,1.0,15.0,1.0,587.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0

In [11]:
LP_movimiento.columns

Index(['MovimientoId', 'ServicioEspecial', 'FechaPeticion', 'HoraPeticion',
       'FechaServicio', 'HoraServicio', 'VientoDireccionId', 'VientoVelocidad',
       'SentidoId', 'BuqueId', 'BuqueExentoId', 'GT', 'CaladoProa',
       'CaladoPopa', 'NorayOrigen1Id', 'NorayOrigen2Id', 'TipoAtraqueOrigenId',
       'NorayDestino1Id', 'NorayDestino2Id', 'TipoAtraqueDestinoId',
       'NumeroRemolcadores', 'ConsignatarioId', 'ObservacionesFacturacion',
       'ObservacionesPractico', 'ObservacionesCapitan', 'RecargoId',
       'ArchivoFirmaCapitan', 'Importe', 'Validado', 'FacturaId', 'Finalizado',
       'NavieraId', 'Escala', 'TipoOperacionId', 'Bonificaciones',
       'ImporteBonificaciones', 'RemolcadoresSolicitados', 'DemoraId',
       'MotivoDemora', 'ImporteBase', 'NumeroAtraque', 'NumeroAtraqueDestino',
       'FechaFinalizacion', 'HoraFinalizacion', 'ExentoAmarres',
       'NumeroFondeo', 'GastosAdministrativosPorcentaje',
       'GastosAdministrativosFijo', 'ImporteGastosAdministrativos',
       'TipoCambio', 'ImporteTasas', 'ImporteDisponibilidadPractico',
       'ImportePermanenciaPractico', 'ImporteDisponibilidadPracticoGA',
       'ImportePermanenciaPracticoGA'],
      dtype='object')

In [13]:

LP_movimiento= LP_movimiento.drop(['ServicioEspecial','VientoDireccionId', 'GT','CaladoProa',
       'CaladoPopa', 'NorayOrigen1Id', 'NorayOrigen2Id', 'TipoAtraqueOrigenId',
       'NorayDestino1Id', 'NorayDestino2Id', 'TipoAtraqueDestinoId',
       'NumeroRemolcadores', 'ConsignatarioId', 'ObservacionesFacturacion',
       'ObservacionesPractico', 'ObservacionesCapitan', 'RecargoId',
       'ArchivoFirmaCapitan', 'Importe', 'Validado', 'FacturaId', 'Finalizado',
       'NavieraId', 'TipoOperacionId', 'Bonificaciones',
       'ImporteBonificaciones', 'RemolcadoresSolicitados', 
       'MotivoDemora', 'ImporteBase', 'NumeroAtraque', 'NumeroAtraqueDestino', 'ExentoAmarres',
       'NumeroFondeo', 'GastosAdministrativosPorcentaje',
       'GastosAdministrativosFijo', 'ImporteGastosAdministrativos',
       'TipoCambio', 'ImporteTasas', 'ImporteDisponibilidadPractico',
       'ImportePermanenciaPractico', 'ImporteDisponibilidadPracticoGA',
       'ImportePermanenciaPracticoGA'], axis=1)

In [14]:
LP_movimiento.columns

Index(['MovimientoId', 'FechaPeticion', 'HoraPeticion', 'FechaServicio',
       'HoraServicio', 'VientoVelocidad', 'SentidoId', 'BuqueId',
       'BuqueExentoId', 'Escala', 'DemoraId', 'FechaFinalizacion',
       'HoraFinalizacion'],
      dtype='object')

In [9]:
LP_sentido.head()

,SentidoId,Nombre,Codigo,EsManiobra,NombreIngles,FactorManiobra,AplicaDescuento
0,1,Entrada,E,0,Arrival,0.0,0
1,2,Movimiento interior,M,0,Inner Shifting,0.0,0
2,3,Salida,S,0,Departure,0.0,0

In [15]:
LP_sentido.columns

Index(['SentidoId', 'Nombre', 'Codigo', 'EsManiobra', 'NombreIngles',
       'FactorManiobra', 'AplicaDescuento'],
      dtype='object')

In [16]:
LP_sentido= LP_sentido.drop(['Codigo', 'EsManiobra', 'NombreIngles',
       'FactorManiobra', 'AplicaDescuento'], axis=1)

In [17]:
LP_sentido.columns

Index(['SentidoId', 'Nombre'], dtype='object')

In [24]:
# WARNING ****** WATCH THIS NEED TO APPLY THIS MEANING TO VAL sentido csv!!!!!
LP_sentido.Nombre.unique()

array(['Entrada', 'Movimiento interior', 'Salida'], dtype=object)

In [10]:
LP_buque.head()

,BuqueId,Nombre,IMO,MMSI,DistintivoLLamada,NacionalidadId,TipoImpuestoId,Descuento,TipoBuqueId,ConsignatarioId,...,FechaAlta,FechaActualizacion,Velocidad,RemolcadoresRecomendados,TarifaEspecifica,NumeroTimones,AnguloMaximoTimon,SuperficieVelica,PuertoMatriculaId,TipoPropulsionId
0,249,FORTUNY,9216585,NaN,EBTO,209.0,1.0,0.0,43.0,97.0,...,2016-12-26 12:14:23.587,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN
1,250,AIDAPRIMA,9636955,NaN,IBGU,110.0,1.0,0.0,95.0,97.0,...,2016-12-26 12:14:33.000,2018-04-20 21:05:30.147,21.4,0.0,0.0,NaN,0.0,0.0,NaN,NaN
2,252,VERONA,9190858,NaN,LARI7,166.0,1.0,0.0,94.0,100.0,...,2016-12-26 12:17:30.443,2018-10-04 09:42:14.537,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
3,253,VOLCAN DEL TEIDE,9506289,NaN,EAIE,209.0,1.0,30.0,84.0,105.0,...,2016-12-27 13:20:43.000,2019-09-27 16:54:04.710,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
4,254,CIUDAD DE CADIZ,9304631,NaN,5BLJ4,59.0,1.0,0.0,84.0,145.0,...,2016-12-27 15:23:48.000,2019-06-07 13:32:24.117,22.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN

In [25]:
LP_buque.columns

Index(['BuqueId', 'Nombre', 'IMO', 'MMSI', 'DistintivoLLamada',
       'NacionalidadId', 'TipoImpuestoId', 'Descuento', 'TipoBuqueId',
       'ConsignatarioId', 'NavieraId', 'GT', 'Eslora', 'Manga', 'Guinda',
       'Puntal', 'CaladoVerano', 'PropulsorProaNumero',
       'PropulsorProaPotencia', 'PropulsorPopaNumero', 'PropulsorPopaPotencia',
       'MotorPrincipalNumero', 'MotorPrincipalPotencia', 'HeliceProaNumero',
       'HeliceProaTipoId', 'HeliceProaGiroId', 'EfectoHeliceId', 'TimonId',
       'TipoMaquinaId', 'Construccion', 'Observaciones',
       'ObservacionesSeguridad', 'FechaAlta', 'FechaActualizacion',
       'Velocidad', 'RemolcadoresRecomendados', 'TarifaEspecifica',
       'NumeroTimones', 'AnguloMaximoTimon', 'SuperficieVelica',
       'PuertoMatriculaId', 'TipoPropulsionId'],
      dtype='object')

In [26]:
LP_buque= LP_buque.drop(['MMSI', 'DistintivoLLamada',
       'TipoImpuestoId', 'Descuento',
       'ConsignatarioId', 'NavieraId', 'Eslora', 'Manga', 'Guinda',
       'Puntal', 'CaladoVerano', 'PropulsorProaNumero',
       'PropulsorProaPotencia', 'PropulsorPopaNumero', 'PropulsorPopaPotencia',
       'MotorPrincipalNumero', 'MotorPrincipalPotencia', 'HeliceProaNumero',
       'HeliceProaTipoId', 'HeliceProaGiroId', 'EfectoHeliceId', 'TimonId',
       'TipoMaquinaId', 'Observaciones',
       'ObservacionesSeguridad', 'FechaAlta', 'FechaActualizacion',
       'Velocidad', 'RemolcadoresRecomendados', 'TarifaEspecifica',
       'NumeroTimones', 'AnguloMaximoTimon', 'SuperficieVelica',
       'PuertoMatriculaId', 'TipoPropulsionId'], axis=1)

In [27]:
LP_buque.columns

Index(['BuqueId', 'Nombre', 'IMO', 'NacionalidadId', 'TipoBuqueId', 'GT',
       'Construccion'],
      dtype='object')

In [36]:
VAL_buque=pd.read_csv("../input/DATOS_BD_VALENCIA_BUQUE.csv")
VAL_buque

VAL_movimiento=pd.read_csv("../input/DATOS_BD_VALENCIA_MOVIMIENTOS.csv")
VAL_movimiento
VAL_sentido=pd.read_csv("../input/DATOS_BD_VALENCIA_SENTIDO.csv")
VAL_sentido

,SentidoId,Nombre,Codigo,EsManiobra,NombreIngles,FactorManiobra,AplicaDescuento
0,1,Entrada,E,0,NaN,0.0,0
1,2,Movimiento interior,M,0,NaN,0.0,0
2,3,Salida,S,0,NaN,0.0,0
3,4,Fondeo,F,0,NaN,0.0,0
4,7,Salida Fondeo,C,0,NaN,0.0,0
5,9,Deriva,K,0,NaN,0.0,0

In [40]:
VAL_buque_exe=pd.read_csv("../input/DATOS_BD_VALENCIA_BUQUE_EXENTO.csv",encoding = "ISO-8859-1")
VAL_buque_exe.head()

,BuqueExentoId,BuqueId,Capitan,FechaDesde,FechaHasta
0,3,122,OSCAR MILLARES,2016-04-13 00:00:00.000,2018-04-13 00:00:00.000
1,4,123,GIUSEPPE TIZZANO,2017-07-15 00:00:00.000,2019-01-19 00:00:00.000
2,5,123,VICENZO ESPOSITO,2015-12-19 00:00:00.000,2020-12-19 00:00:00.000
3,6,123,DOMENICO COMISO,2016-09-05 00:00:00.000,2018-09-05 00:00:00.000
4,7,124,J. CARLOS CANOVAS ROMERO,2016-01-18 00:00:00.000,2020-01-18 00:00:00.000

In [44]:
VAL_buque_exe= VAL_buque_exe.drop(['Capitan','FechaDesde', 'FechaHasta'], axis=1)

In [45]:

VAL_movimiento= VAL_movimiento.drop(['ServicioEspecial','VientoDireccionId', 'GT','CaladoProa',
       'CaladoPopa', 'NorayOrigen1Id', 'NorayOrigen2Id', 'TipoAtraqueOrigenId',
       'NorayDestino1Id', 'NorayDestino2Id', 'TipoAtraqueDestinoId',
       'NumeroRemolcadores', 'ConsignatarioId', 'ObservacionesFacturacion',
       'ObservacionesPractico', 'ObservacionesCapitan', 'RecargoId',
       'ArchivoFirmaCapitan', 'Importe', 'Validado', 'FacturaId', 'Finalizado',
       'NavieraId', 'TipoOperacionId', 'Bonificaciones',
       'ImporteBonificaciones', 'RemolcadoresSolicitados', 
       'MotivoDemora', 'ImporteBase', 'NumeroAtraque', 'NumeroAtraqueDestino', 'ExentoAmarres',
       'NumeroFondeo', 'GastosAdministrativosPorcentaje',
       'GastosAdministrativosFijo', 'ImporteGastosAdministrativos',
       'TipoCambio', 'ImporteTasas', 'ImporteDisponibilidadPractico',
       'ImportePermanenciaPractico', 'ImporteDisponibilidadPracticoGA',
       'ImportePermanenciaPracticoGA'], axis=1)

In [46]:
VAL_sentido= VAL_sentido.drop(['Codigo', 'EsManiobra', 'NombreIngles',
       'FactorManiobra', 'AplicaDescuento'], axis=1)

In [47]:
VAL_buque= VAL_buque.drop(['MMSI', 'DistintivoLLamada',
       'TipoImpuestoId', 'Descuento',
       'ConsignatarioId', 'NavieraId', 'Eslora', 'Manga', 'Guinda',
       'Puntal', 'CaladoVerano', 'PropulsorProaNumero',
       'PropulsorProaPotencia', 'PropulsorPopaNumero', 'PropulsorPopaPotencia',
       'MotorPrincipalNumero', 'MotorPrincipalPotencia', 'HeliceProaNumero',
       'HeliceProaTipoId', 'HeliceProaGiroId', 'EfectoHeliceId', 'TimonId',
       'TipoMaquinaId', 'Observaciones',
       'ObservacionesSeguridad', 'FechaAlta', 'FechaActualizacion',
       'Velocidad', 'RemolcadoresRecomendados', 'TarifaEspecifica',
       'NumeroTimones', 'AnguloMaximoTimon', 'SuperficieVelica',
       'PuertoMatriculaId', 'TipoPropulsionId'], axis=1)

In [ ]:
VAL